
@import url('https://fonts.googleapis.com\css2?family=Popins&display=swap');

*{
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}

.header{
     background:pink;
     margin-top: 2px;
}
    


li{
    padding: 3px;
    font-size: x-large;

}
ul{
    margin-left: 40%;
}
ul,li{
    display: inline;
    
}
a{
    text-decoration: none;
}
.logo{
    display: inline;
    font-size: xx-large;
    padding :2px;
}

.col-1{

    padding: 50px 0;

}
.col-2 img{
    width: 300;
    height: 300px;
    margin-left: 63%;
    margin-top: -90%;
}
.row{
    margin-top: 80px;
    padding: 10px
}




.btn{
    display: inline-block;
    background: black;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 40px;
    transition: 0.5s;
}

.btn:hover{
    background: brown;
}
.categories{
    display: inline;
}
.container{
    margin-left: 15%;;
}
.col-3 img{
    margin-left: 95px;
    margin-top: 3%;
    padding: 2px;

}

.col-3 img:hover{
    transition: transform 0.5s;
    transform: translateY(-5%);
}
h2{
   
    text-align: center;
    position: relative;
    margin: 0 auto 10px;
    line-height: 60px; 
    color: brown;
}
h2::after{
    content: '';
    background: red;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 49%;
    transform: translateX(-50%);
}

.box img{
    width: 198px;
    height: 263px;

   
    
}
.box{
    display: inline-block;
    margin-left: 85px;
    margin-top: 50px;
    padding: 2 px;
    transition: transform 0.5s;

}
.box:hover{
    transform: translateY(-5px);
}
.product{
    text-align: center;
    margin-left: 20px;
}
h4{
    font-weight: normal;
    color: black;
}
.box p{
    font-size: 14px;
}
.rating .fa{
      
    color: orange
}


h3{
   
    text-align: center;
    position: relative;
    margin: 0 auto 20px;
    line-height: 60px; 
    color: brown;
    font-size: 25px;
}
h3::after{
    content: '';
    background: red;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 49%;
    transform: translateX(-50%);
}
.col-4 img{
    width: 500px;
    height: 300px;
    margin-left: 60px;
}
.col-4 p {
  
    margin-left: 52%;
    margin-top: -18%;

}
.col-4 small{
    margin-top: 5px;
    margin-left: 52%;
}
h5{
    margin-top: 40px;
}
#f1{
    font-size: large;
    background: pink;
}


/* product page */
.logo{
    background: pink;
}
.logo2 img{
    width:1325px;
    height: 450px;
    margin-left: 5px;

}







/* About Page */
.one img{
    width: 1325px;
    height:400px;
    margin-top: 10px;
    margin-left: 5px;
}

.one p{
    margin-left: 42%;
    margin-top: -10%;
}
.two img{
     width:500px;
     height: 300px;
     margin-top: -50px;
}
.two h1{
    margin-left: 45%;
    margin-top: -22%
}
.two p{
    margin-left: 45%;
    margin-top: 30px;
}
.sale img{
    width: 200px;
    height: 200px;
    margin-left: 45px;
    margin-top: -5%;
}

.log-in-box h1{
     font-size: x-large;
     text-align: center;
}
.log-in-box form{
    text-align: center;
}
.log-in-box{
    width: 360px;
    height: 250px;
    display: block;
    border-radius: 3px;
    display: inline-block;
    margin-left: 35%;
    

}


/* contact page */
.banner img{
    width:1330px;
    height: 400px;
    margin-top: 10px;
    margin-left: 2px;
}
.banner1 h1{
    margin-left: 40%;
    margin-top: -14%;

}
.banner1 h5{
    margin-left:30%;
    margin-top: -5px;
}
.map img{
    height:325px;
    width:600px;
    margin-left: 50%;
    margin-top: -45%;
}
.form form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.form form input,
.form form textarea{
    width: 100%;
    padding:12px 15px;
    outline:none;
    margin-bottom: 20px;
    border: 1px solid color(pink);
}
.form form button{
    background-color: green;
    color:white;
    padding: 10px;
}
